{% extends 'base.html.twig' %}

{% block title %}My symfony{% endblock %}

{% block body %}
<p>{{username}} удален</p>
<p>{{ error }}</p>
<a href="{{ path('admin')}}" class="btn btn-outline-primary">back</a>
{% endblock %}
