<h3>Успешный успех <h3>
<div>
    <p>Это автоматически сгенерированное письмо. Пожалуйста, не отвечайте на него</p>
    <p>Перейдите по ссылке ниже для того, чтобы восстановить пароль</p>
</div>
<div>
    <a href="http://127.0.0.1:8000/login/reset?userid={{ userid }}">reset password</a>
</div>
