<h3>Успешный успех <h3>
<div>
    <p>Приветики-Пистолетики,
    Кажется, вы снова забыли пароль..
    Мы пока не придумали, как это реализовать.
    Печалька, но потерпи!!!
    </p>
</div>
<div>
    <img src="{{ absolute_url(asset('images/cat.jpg')) }}" class="img-fluid max-width: 100px " alt="book picture"  />
<</div>