{% extends 'base.html.twig' %}

{% block title %}Hello MailController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-6 col-md-4 mt-4">
            <h4>Письмо отправлено!</h4>
            <p>Проверьте свою почту. Пройдите по ссылке в письме</p>
        </div>
    </div>
</div>

{% endblock %}